@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

    <!--=========== BEGIN COURSE BANNER SECTION ================-->
<section id="imgBanner">
    <h2>History</h2>
</section>
<!--=========== END COURSE BANNER SECTION ================-->

<!--=========== BEGIN ABOUT US SECTION ================-->
<section id="aboutUs">
    <div class="container">
        <div class="row">
            <!-- Start about us area -->
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="aboutus_area wow fadeInLeft">
                    <h3>
                        <strong>শিক্ষা প্রতিষ্ঠানের নামঃ </strong><br>
                        ইংরেজীঃ PALLIMANGAL BARUIPAEA UNITED HIGH SCHOOL.<br>
                        বাংলায়ঃ বারুইপাড়া ইউনাইটেড উচ্চ বিদ্যালয়।
                    </h3>

                    <p>
                        <strong>লক্ষ ও উদ্দেশ্যঃ</strong>
                        দেশ প্রেমিক, আদর্শবান, সুশিক্ষিত ও দক্ষ জনশক্তি তৈরী করে উন্নত বাংলাদেশ বির্নিমাণ।
                    </p>

                    <p>
                        <strong>প্রতিষ্ঠানের পরিচিতিঃ</strong>
                        প্রতিষ্ঠানটি বগুড়া জেলা শহর থেকে ৭.৫ কিঃ মিঃ এবং উপজেলা পরিষদ থেকে ২.৫ কিঃ মিঃ উত্তরে অবস্থিত। প্রতিষ্ঠানটির পশ্চিমে করতোয়া নদী, মাটিডালী Ñ পীরগাছা রোড সংলগ্ন পল্লীমঙ্গলে প্রতিষ্ঠিত। প্রতিষ্ঠানের পার্শ্বে এনজিও, রাজশাহী কৃষি উন্নয়ন ব্যাংক, কমিউনিটি ক্লিনিক, ইউনিয়ন পরিষদ এবং সুন্দর মসজিদ ও বাজারসহ বিভিন্ন স্থাপনা রয়েছে।
                    </p>

                    <p>
                        <strong>প্রতিষ্ঠানের ইতিহাসঃ </strong>
                        শিক্ষানরাগী ব্যক্তি মৃত ডাঃ আজিজার রহমান ইংরেজী ১৯৬৭ সালে বারুইপাড়া উচ্চ বিদ্যালয় এবং মৃত ডাঃ তবিবর রহমান ইংরেজী ১৯৬৭ সালে পল্লীমঙ্গল উচ্চ বিদ্যালয় স্থাপন করেন। দুটি বিদ্যালয় পাশাপাশি হওয়ায় বিদ্যালয়ে ছাত্রছাত্রী কম ছিল। তখন জনাব এ্যাডঃ মোঃ শাহজাহান আলী খান ভাবলেন, দুটি প্রতিষ্ঠান একত্রিত করলে ছাত্রছাত্রী বেশি হবে এবং শিক্ষক মন্ডলী ও ছাত্রছাত্রী মনোযোগী হতে পারবে। তাই তার স্বপ্ন পূরণের জন্য তিনি গত ১৯৭৯ইং সালে উক্ত বিদ্যালয় দুটি একত্রিত করে নাম রাখেন, “পল্লীমঙ্গল বারইপাড়া ইউনাইটেড উচ্চ বিদ্যালয়”। যাহা এম.পি.ও ভূক্ত হয় ০১/০৩/১৯৮৫ইং সালে।
                        পল্লীমঙ্গল বারুইপাড়া ইউনাইটেড উচ্চ বিদ্যালয়টি নির্মাণ কালে বিদ্যালয়টি টিনের বেড়া দিয়ে ক্লাসরুম তৈরী ছিল। পরবর্তী সময়ে এ্যাডঃ মোঃ শাহজাহান আলী খান এবং অত্র এলাকার গন্যমান্য ব্যক্তির উদ্দোগে পূর্ণনির্মাণ করা হয়। নির্মাণকালে অনেকে বাঁশ, কাঠ, অর্থ দিয়ে সাহায্য করেছেন, অনেকে আবার শ্রম দিয়েও সাহায্য করেছেন।
                        ১৯৬৭ সালে বারুইপাড়া উচ্চ বিদ্যালয়ের প্রধান শিক্ষক ছিলেন মৃত আছালতজ্জামান। অপর দিকে একই সালে পফ।লীমঙ্গল উচ্চ বিদ্যালয়ের প্রধান শিক্ষক ছিলেন আলহাজ্ব মোঃ আব্দুর রাজ্জাক বি.এ ০১/০১/১৯৬৭ হইতে ৩১/০১/১৯৬৯ পর্যন্ত। তারপর প্রধান শিক্ষক হন আলহাজ্ব মোঃ আব্দুর রহমান বি.এ,বি.এড। উচ্চ বিদ্যালয় এবং বারুইপাড়া উচ্চ বিদ্যালয় ১৯৬৯ সালে একত্রিত করণের সময় পল্লীমঙ্গল উচ্চ বিদ্যালয়ের প্রধান শিক্ষক আব্দুর রহমান এবং বারুইপাড়া উচ্চ বিদ্যালয়ের মৃত আছালতজ্জামান প্রধান শিক্ষক ছিলেন। তাহাদের সম্মতিক্রমে সিদ্ধান্ত হয় পল্লীমঙ্গল বারুইপাড়া ইউনাইটেড উচ্চ বিদ্যালয়ের প্রধান শিক্ষকের দায়িত্বে থাকবেন আব্দুর রহমান স্যার, আর সহকারী প্রধান শিক্ষকের দায়িত্বে থাকবেন মৃত আছালতজ্জামান স্যার। ১৯৯৯ সালে আব্দুর রহমান স্যার অবসর নিলে মৃত আছালতজ্জামান স্যার ভারপ্রাপ্ত প্রধান শিক্ষকের দায়িত্ব গ্রহন করেন এবং তার দায়িত্ব থাকা কালিন অবস্থায় ২২/০২/২০০০ইং সালে মোঃ বজলুর রশীদ বি.এস.এস (সম্মান) এম.এস.এস, বি.এড,এম.এড প্রধান শিক্ষক পদে যোগদান করেন। সহকারী প্রধান শিক্ষক আছালতজ্জামান স্যার অবসর নেবার পর মোঃ আলতাফ আলী সহকারী প্রধান শিক্ষকের দায়িত্ব পান, তারপর মোঃ সাইফুল ইসলাম। মোঃ সাইফুল ইসলাম অবসর নিলে মৌখিকভাবে সহকারী শিক্ষক আজিজার রহমান খানকে সহকারী প্রধান শিক্ষকের দায়িত্ব দেওয়া হয় যা এখন পর্যন্ত বর্তমান। এছাড়াও উচ্চ শিক্ষিত এবং অভিজ্ঞ শিক্ষক দ্বারা প্রতিষ্ঠানটি পরিচালিত। বর্তমানে প্রতিষ্ঠানে ৭৫০ জন ছাত্র/ছাত্রী রয়েছে। অত্র বিদ্যালয়ের ছাত্রছাত্রী দেশের বিভিন্ন জায়গায় উচ্চ পদে কর্মরত আছেন।
                        প্রতিষ্ঠানটি করতোয়া নদীর পূর্বপার্শ্বে, মাটিডালী Ñ পীরগাছা রাস্তা সংলগ্ন মনোরমম স্বাস্থ্যকর পরিবেশে প্রতিষ্ঠিত। প্রশস্ত খেলার মাঠ, পাঠাগার, কম্পিউটার ল্যাব ইত্যাদি দিয়ে সাজানো। প্রতিষ্ঠানটির উত্তরে ২.৫০ কিঃ মিঃ দুরে ঐতিহাসিক বেহুলার বাসর ঘর এবং তার অদুরে ঐতিহাসিক মহাস্থান গড় অবস্থিত। প্রতিষ্ঠানের চার পার্শ্বে এনজিও, রাজশাহী কৃষি উন্নয়ন ব্যাংক, কমিউনিটি ক্লিনিক, ইউনিয়ন পরিষদ এবং সুন্দর মসজিদ ও বাজার রয়েছে।
                        পরিশেষে বলতে পারি অত্র প্রতিষ্ঠানটি আগামীতে শ্রেষ্ঠ বিদ্যাপীঠ হিসাবে পরিগণিত হতে পারে।
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                @*<div class="newsfeed_area wow fadeInRight">
                    <ul class="nav nav-tabs feed_tabs" id="myTab2">
                        <li class="active"><a href="#news" data-toggle="tab">News</a></li>
                        <li><a href="#notice" data-toggle="tab">Notice</a></li>
                        <li><a href="#events" data-toggle="tab">Events</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Start news tab content -->
                        <div class="tab-pane fade in active" id="news">
                            <ul class="news_tab">
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="news_img" href="#">
                                                <img class="media-object" src="~/WebsiteTemplate/img/news.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#">Dummy text of the printing and typesetting industry</a>
                                            <span class="feed_date">27.02.15</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="news_img" href="#">
                                                <img class="media-object" src="~/WebsiteTemplate/img/news.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#">Dummy text of the printing and typesetting industry</a>
                                            <span class="feed_date">28.02.15</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="news_img" href="#">
                                                <img class="media-object" src="~/WebsiteTemplate/img/news.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#">Dummy text of the printing and typesetting industry</a>
                                            <span class="feed_date">28.02.15</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a class="see_all" href="#">See All</a>
                        </div>
                        <!-- Start notice tab content -->
                        <div class="tab-pane fade " id="notice">
                            <div class="single_notice_pane">
                                <ul class="news_tab">
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a class="news_img" href="#">
                                                    <img class="media-object" src="~/WebsiteTemplate/img/news.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">Dummy text of the printing and typesetting industry</a>
                                                <span class="feed_date">27.02.15</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a class="news_img" href="#">
                                                    <img class="media-object" src="~/WebsiteTemplate/img/notice.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">Dummy text of the printing and typesetting industry</a>
                                                <span class="feed_date">28.02.15</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a class="news_img" href="#">
                                                    <img class="media-object" src="~/WebsiteTemplate/img/notice.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">Dummy text of the printing and typesetting industry</a>
                                                <span class="feed_date">28.02.15</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="news_tab">
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a class="news_img" href="#">
                                                    <img class="media-object" src="~/WebsiteTemplate/img/notice.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">Contrary to popular belief, Lorem Ipsum is not simply random text</a>
                                                <span class="feed_date">27.02.15</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a class="news_img" href="#">
                                                    <img class="media-object" src="~/WebsiteTemplate/img/notice.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">Dummy text of the printing and typesetting industry</a>
                                                <span class="feed_date">28.02.15</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-left">
                                                <a class="news_img" href="#">
                                                    <img class="media-object" src="~/WebsiteTemplate/img/notice.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">Contrary to popular belief, Lorem Ipsum is not simply random text</a>
                                                <span class="feed_date">28.02.15</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Start events tab content -->
                        <div class="tab-pane fade " id="events">
                            <ul class="news_tab">
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="news_img" href="#">
                                                <img class="media-object" src="~/WebsiteTemplate/img/news.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#">Dummy text of the printing and typesetting industry</a>
                                            <span class="feed_date">27.02.15</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="news_img" href="#">
                                                <img class="media-object" src="~/WebsiteTemplate/img/news.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#">Dummy text of the printing and typesetting industry</a>
                                            <span class="feed_date">28.02.15</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <a class="news_img" href="#">
                                                <img class="media-object" src="~/WebsiteTemplate/img/news.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="#">Dummy text of the printing and typesetting industry</a>
                                            <span class="feed_date">28.02.15</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a class="see_all" href="#">See All</a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>
<!--=========== END ABOUT US SECTION ================-->


