@{
    ViewBag.Title = "Admission";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!--=========== BEGIN COURSE BANNER SECTION ================-->
<section id="imgBanner">
    <h2>Admission Info</h2>
    <br />
    <br />
    <br />
</section>
<!--=========== END COURSE BANNER SECTION ================-->

<section>
    <br/>
    <div class="container">
        <div class="row">
            <br/>
            <br/>
            <br/>
        </div>
        <div class="row">
            <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
                <span style="font-size: 40px; background-color: #F3F5F6; padding: 0 10px;">
                    <i class="glyphicon glyphicon-user">Admission Info</i>
                </span>
            </div>
        </div>
        <div class="row">
            <h3><b>ভর্তি তথ্যঃ</b>
            </h3>
            <h4>প্রতি বছর ডিসেম্বর ২৬ থেকে জানুয়ারী ০৮ তারিখ পর্যন্ত সরকারী বিধি মোতাবেক ষষ্ঠ থেকে নবম শ্রেণি পর্যন্ত ভর্তি পরীক্ষার মাধ্যমে ছাত্র-ছাত্রী ভর্তি করানো হয়</h4>
            <br/>
            <br/>
            <h3><b>ডাউনলোড ফর্মঃ<a class="btn btn-default" href="#">লিংক</a></b>
            </h3>
        </div>
    </div>
</section>