@using SchoolManagement.Models
@model IEnumerable<SchoolManagement.Models.BoardOfDirector>
@{
    ViewBag.Title = "Index";
}

<h1 class="text-center text-primary">
    <span class="glyphicon glyphicon-user"></span>
    পরিচালনা কমিটির তথ্য (বর্তমান পরিচালনা কমিটি)
</h1>
<br/><br />
@Html.ActionLink("Add New", "New", "BoardOfDirector", null, new {@class="btn btn-default"})
<br /><br />
<table id="tableid" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Educational Qualification</th>
        <th>Catagory</th>
        <th>Comment</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#tableid").DataTable({
                ajax: {
                    url: "/api/boardofdirectors",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, row) {
                            return "<a href='/boardofdirector/edit/" + row.id + "'>" + row.name + "</a>";
                        }
                    },
                    {
                        data: "designation"
                    },
                    {
                        data: "educationalQualification"
                    },
                    {
                        data: "catagory"
                    },
                    {
                        data: "comment"
                    },
                    {
                        data: "id",
                        render:function(data) {
                        return "<button class='btn-link js-delete' data-director-id=" + data + ">Delete</button>";
                        }   
                    }
                    ]
            });
            
            $("#tableid").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this record?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/boardofdirectors/" + button.attr("data-director-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}

